doctype html
html(lang="en")
    head 
        title="KCC BCA Home"
        link(rel="shortcut icon", href="./Images/logo.jpg", type="image/x-icon")

        include include/style
    body
        .page-wrapper 
            include include/navbar
            block content
            include include/header
            include include/resources
            include include/placement
            include include/payfees
            