doctype html
html(lang="en")
    head 
        title=title
        include include/style
    body
        .page-wrapper 
            include include/header
            include include/ques
            include include/homepage
            block content