.nav 
    h2(style="font-size: 2rem; margin-left: -10px") Karim City College 
    ul.nav-item(style= "margin-right: 59px") 
        li 
            a(href="#") Question Papers 
        li 
            a(href="#features") Placement 
        li 
            a(href="#") Pay Fees  
        li 
            a(href="/loggout") LogOut

section#home
  .name
    h2 Karim City College
    em(style="color: white; margin-bottom: 20px; text-align: center;")
      strong BCA DEPARTMENT

    .marque
      marquee(width="60%", direction="left", height="100px")
        | Placement Ongoing for the current batch(2019-2022). 

