section#home
  .name
    h2 Karim City College
    em(style="color: white; margin-bottom: 20px; text-align: center;")
      strong BCA DEPARTMENT

    .marque
      marquee(width="60%", direction="left", height="100px")
        | Placement Ongoing for the current batch(2019-2022). 