
section#features
  .fea-logo(data-aos="fade-up")
    img(src="./Images/recruitment.png", alt, srcset)
    h2 Placement Info
  i.fa-solid.fa-thumbtack(data-aos="fade-up")
    em(data-aos="fade-up") Affliated to Kolhan University, Chaibasa
  p(data-aos="fade-up")
    img.ribbon-img(src="./Images/ribbon.png", alt)
    | NCTE, UGC.
  .feature-base(data-aos="fade-up")

    .feature-box
      img.features(src="./Images/wipro.jpg", alt="wipro", srcset) 
      p Wipro hiring BCA, B.Sc freshers, the last date to register is June 30 
      button(disabled) Fill Form 

    .feature-box
      img.features(src="./Images/recruitment.png", alt="graduated", srcset)
      a(href="../Sources/placement.pdf")
      p Papperpenny Drive will be conducted on  15.07.2022 (Friday) at 10 AM.
      button(disabled) Fill Form 

    .feature-box
      img.features(src="./Images/recruitment.png", alt="graduated", srcset)     
      a(href="../Sources/Library.pdf")
      p A US Consultant company- Data Consultant Corporation (DCC) plans to come to our campus for Placement drive on 29th July 2022.
      a(href="")
        button(type="submit" style="margin-bottom: 20px") Fill Form  


    .feature-box
      img.features(src="./Images/recruitment.png", alt="graduated", srcset)     
      a(href="../Sources/sparc.pdf")
      p Spreecious Design Pvt Ltd is a start- up organization would like to recruit graduates or fresher of any stream for its Jamshedpur office. 
        button(disabled) Fill Form.

    .feature-box
      h3 
        a(href="#" style="color: grey") Will Update soon....
        
    .feature-box
      h3 
        a(href="#", style="color: grey") Will Update soon.... 