.nav 
    img.logo(src="./Images/logo.jpg", alt="Logo")
    h2(style="font-size: 2rem; margin-left: -23rem") Karim City College 
    ul.nav-item(style= "margin-right: 59px") 
        li 
            a(href="#question") Resources 
        li 
            a(href="#placement") Placement 
        li 
            a(href="#payfees") Pay Fees  
        li 
            a(href="/loggout") LogOut
