
.title-div#placement
  img(src='./Images/question.png' alt='' srcset='' height='55px ' width='55px')
  span Placement Details 


  .container
        
    .wrapperr
      img.features(src="./Images/wipro.jpg", alt="wipro", srcset) 
      p Company: Wipro
      ul.jobtype 
        li 
          b End Date: Sep 22, 12:00 AM IST
        li Job Role: Software Developer 
        li Job Type : Fresher & Experience Both Can Apply
        li Qualification: Any Graduate
        li Location :Pune/Work From Home
      a(href="https://unstop.com/job/optimal-software-developer-wipro-technologies-417703?utm_source=OffCampusJobs4U-Website&utm_medium=Affiliates&utm_campaign=Wipro27082022" target='_blank')
        button Apply Now 

    .wrapperr
      img.features(src="./Images/hsbc logo.webp", alt="graduated", srcset)
      p Company: HSBC
      ul.jobtype 
        li 
          b End Date: 15 Sep 22, 12:00 AM IST
        li Job Role: Software Developer 
        li Job Type : Fresher & Experience Both Can Apply
        li Qualification: Any Graduate
        li Location : Hyderabad/Work From Home
      a(href="https://unstop.com/job/software-engineer-cto-hsbc-417694" target='_blank')
        button Apply Now 

    .wrapperr
      img.features(src="./Images/IBMlogo.png", alt="graduated", srcset)
      p Company: IBM
      ul.jobtype 
        li 
          b End Date: 15 Sep 22, 12:00 AM IST
        li Job Role: Software Developer 
        li Job Type : Fresher & Experience Both Can Apply
        li Qualification: Any Graduate
        li Location : Multiple Cities
      a(href="https://krb-sjobs.brassring.com/TGnewUI/Search/home/HomeWithPreLoad?partnerid=26059&siteid=5016&PageType=JobDetails&jobid=615379#jobDetails=615379_5016" target='_blank')
        button Apply Now 

    .wrapperr
      img.features(src="./Images/cognizabtlogo.png", alt="graduated", srcset)
      p Company: Cognizant 
      ul.jobtype 
        li 
          //- b End Date: 15 Sep 22, 12:00 AM IST
        li Job Role: Graduate Trainee
        li Job Type : Fresher & Experience Both Can Apply
        li Qualification: Bacehlor's Degree
        li Location : Pan India
      a(href="https://app.joinsuperset.com/join/#/signup/student/jobprofiles/d2508e3e-5ca2-46aa-861f-83a3d50df581" target='_blank')
        button Apply Now 

    .wrapperr
      img.features(src="./Images/hplogo.png", alt="graduated", srcset)
      p Company: HP
      ul.jobtype 
        li 
          b Last Date To Apply: Thursday, 08 Sep, 2022
        li Job Role: Technical Support Representative
        li No. Of Openings: 60
        li Salary: With  3.4 lakh fixed + 1.5 lakh variable allowance + Company Benefits/-
        li Job Type : Any Graduate
        li Qualification: Bacehlor's Degree
        li Location : Bangalore/Work From Home
      a(href="https://www.elitmus.com/jobs/33078-hp-inc-technical-support-representative-bangalore?jobs_evaluation=2335" target='_blank')
        button Apply Now 
        
    .wrapperr
      img.features(src="./Images/techmahindralogo.png", alt="graduated", srcset)
      p Company: Tech Mahindra
      ul.jobtype 
        //- li 
          //- b Last Date To Apply: Thursday, 08 Sep, 2022
        li Job Role: Customer Service Associate
        li Salary: With CTC 3.0 Lakhs + Company Benefits/-
        li Job Type : Any Graduate
        li Qualification: Bacehlor's Degree
        li Location : Noida, Ghaziabad, Greater Noida, Delhi/NCR or Work From Home(Due To Covid Guidlines)
      a(href="https://www.naukri.com/job-listings-customer-service-associate-tech-mahindra-at-noida-62-tech-mahindra-limited-noida-ghaziabad-greater-noida-delhi-ncr-0-to-3-years-250822003129/" target='_blank')
        button Apply Now 
    
    .wrapperr
      img.features(src="./Images/BYJUSlogo.png", alt="graduated", srcset)
      p Company: Byjus
      ul.jobtype 
        //- li 
          //- b Last Date To Apply: Thursday, 08 Sep, 2022
        li Job Role: Business Development Associate
        li Job Type : Any Graduate
        li Salary: As Per Company Standards + Company Benefits/-
        li Qualification: Bacehlor's Degree
        li Location : Remote Job(Work From Home)
      a(href="https://unstop.com/job/business-development-associate-byjus-417590" target='_blank')
        button Apply Now 
      
    .wrapperr
      img.features(src="./Images/capgemini logo.png", alt="graduated", srcset)
      p Company: Capgemini
      ul.jobtype 
       
        li Job Role: IT Engineer
        li Job Type : Any Graduate
        li Salary: As Per Company Standards + Company Benefits/-
        li Qualification: Bacehlor's Degree
        li Location : Mumbai/Work From Home
      a(href="https://unstop.com/job/it-engineer-infra-security-capgemini-india-410332" target='_blank')
        button Apply Now 
    
    .wrapperr
      img.features(src="./Images/ICICI-Bank-logo.png", alt="graduated", srcset)
      p Company: ICICI Bank
      ul.jobtype 
       
        li Job Role: Information Technology Analyst
        li Job Type : Fresher & Experience Both Can Apply
        li Qualification: Any Graduate
        li Location : Hyderabad/Bangalore/Mumbai
      a(href="https://www.icicicareers.com/website/Jobs/Hot-Jobs/2025789.html" target='_blank')
        button Apply Now 

    .wrapperr
      img.features(src="./Images/Ericssonlogo.png", alt="graduated", srcset)
      p Company: Ericsson
      ul.jobtype 
       
        li Job Role: Data Analyst
        li Job Type : Fresher & Experience Both Can Apply
        li Qualification: Any Graduate
        li Location : Gurgaon/Work From Home
      a(href="https://jobs.ericsson.com/job/Gurgaon-Data-Analyst-Hary/753375702/" target='_blank')
        button Apply Now 

    .wrapperr
      img.features(src="./Images/Red-hatlogo.png", alt="graduated", srcset)
      p Company: Red Hat
      ul.jobtype 
       
        li Job Role: Technical Support Engineer
        li Job Type : Fresher & Experience Both Can Apply
        li Qualification: Any Graduate Remote(Work From Home)
      a(href="https://global-redhat.icims.com/jobs/96478/trainee---associate-technical-support-engineer/job?hub=geeksadda&mobile=false&width=1270&height=500&bga=true&needsRedirect=false&jan1offset=330&jun1offset=330" target='_blank')
        button Apply Now 

    .wrapperr
      img.features(src="./Images/barclayslogo.webp", alt="graduated", srcset)
      p Company: Barclays
      ul.jobtype 
       
        li Job Role: Full Stack Developer
        li Job Type : Fresher & Experience Both Can Apply
        li Salary: As Per Company Standards + Company Benefits/-
        li Qualification: Pune/Work From Home
      a(href="https://unstop.com/job/full-stack-developer-barclays-397628" target='_blank')
        button Apply Now 
  
  .btncontainer 
    button.load Load More

script(src="js/ques.js")