link(rel="stylesheet", href="css/ques.css")

.title-div#question
  img(src='./Images/question.png' alt='' srcset='' height='55px ' width='55px')
  span Resources

.container
  .wrapperr
    span
       img(src='./Images/pdf.png' alt='' width='20px' height='20px')
    a(href='./Sources/routine.pdf') Routine(NEW). 
  .wrapperr
    span
       img(src='./Images/zip.png' alt='' width='20px' height='20px')
    a(href='./Ques Paper/Ques Papers/1st sem ques paper.zip') 1st semester ques paper 
  .wrapperr
    span
      img(src='./Images/zip.png' alt='' width='20px' height='20px')
    a(href='./Ques Paper/Ques Papers/2ns sem ques paper.zip') 2nd semester ques paper
  .wrapperr
    span
      img(src='./Images/zip.png' alt='' width='20px' height='20px')
    a(href='./Ques Paper/Ques Papers/3rd sem ques paper.zip') 3rd semester ques paper
  .wrapperr
    span
      img(src='./Images/zip.png' alt='' width='20px' height='20px')
    a(href='./Ques Paper/Ques Papers/4th sem ques paper.zip') 4th semester ques paper
  .wrapperr
    span
      img(src='./Images/zip.png' alt='' width='20px' height='20px')
    a(href='./Ques Paper/Ques Papers/5th sem ques paper.zip') 5th semester ques paper
  .wrapperr
    span
      img(src='./Images/zip.png' alt='' width='20px' height='20px')
    a(href='./Ques Paper/Data communication note.zip') Notes of Data Communication
  .wrapperr
    span
      img(src='./Images/zip.png' alt='' width='20px' height='20px')
    a(href='./Ques Paper/data structure notes.zip') Data Structure Notes
  .wrapperr
    span
      img(src='./Images/zip.png' alt='' width='20px' height='20px')
    a(href='./Ques Paper/DBMS notes.zip') DBMS Notes
  .wrapperr
    span
      img(src='./Images/pdf.png' alt='' width='20px' height='20px')
    a(href='./Ques Paper/E-commerce.pdf') E-commerce Notes 
  .wrapperr
    span
      img(src='./Images/zip.png' alt='' width='20px' height='20px')
    a(href='./Ques Paper/html notes.zip') HTML Notes 

.btncontainer 
  button.load Load More

script(src="js/ques.js")